<div class="row">
	<div class="col-md-6 col-sm-12">
		<div class="form-container">
		    <h3>Add New Member</h3>
		    <form>
		        <div class="form-group">
		            <label for="firstName">First name</label>
		            <input type="text" name="firstName" id="firstName" class="form-control" ng-model="vm.member.fName" required />
		        </div>
		        <div class="form-group">
		            <label for="lastName">Last name</label>
		            <input type="text" name="lastName" id="lastName" class="form-control" ng-model="vm.member.lName" required />
		        </div>
		        <div class="form-group">
		            <label for="gender">Gender</label>
		            <select name="gender" class="form-control" ng-model="vm.member.gender" required>
		            	<option value="">-- select --</option>
		            	<option value="M">Male</option>
		            	<option value="F">Female</option>
		        	</select>
		        </div>
		        <div class="form-group">
		            <button type="button" ng-click="vm.addMember()" class="btn btn-primary">Add</button>
		            <button type="button" ng-click="vm.clear()" class="btn btn-link">Cancel</button>
		        </div>
		    </form>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-sm-12">
		<h3>Members added by {{vm.user.firstName}}!!</h3>
		<table class="table">
			<tr>
				<th>Name</th>
				<th>Gender</th>
				<th></th>
			</tr>
			<tr ng-repeat="m in vm.members">
				<td>{{m.fName}} {{m.lName}}</td>
				<th>{{(m.gender === 'M') ? 'Male' : 'Female'}}</th>
				<th>&nbsp;</th>
			</tr>
		</table>
	</div>
</div>	